@font-face {
	font-family: 'monumentextended';
	src: url('fonts/MonumentExtended-Ultrabold 80.woff2') format('woff2'),
	url('fonts/MonumentExtended-Ultrabold 80.woff') format('woff'),
	url('fonts/MonumentExtended-Ultrabold 80.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'kontrapunkt';
	src: url('fonts/Kontrapunkt-Light.woff2') format('woff2'),
	url('fonts/Kontrapunkt-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

main {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	font-family: 'kontrapunkt', sans-serif;
	color: #FFFFFF;
	margin: 20px;
	background-image: url('images/CitizenSleeper_ScenicPanorama_01.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	transition: background-image 2s ease-in-out, background-color 1s ease-in-out;

}

.body-alt-background {
	background-image: url('images/131.jpg');
	background-size: cover;
	background-position: center center;

}

.container-flex {
	display: flex;
	align-items: center;
	gap: 40px;
	flex-direction: row-reverse;
	max-width: 1200px;
}

.container-flex-normal {
	flex-direction: row;

}

.bloco-imagem img {
	max-width: 300px;
	height: auto;
	display: block;
}

.bloco-paragrafo {
	flex: 1;
}

.video-container {
	margin:30px auto;

}

.icon-links-section {
	width: 100%;
	max-width: 1000px; 
	margin: 20px auto;
	text-align: center;
}

.icon-row-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.icon-link {
	display: block;
	width: 150px;
	height: 150px;
	text-decoration: none;
	transition: transform 0.3s ease-in-out;

}

.icon-link img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
	filter: grayscale(100%) brightness(150%);
	transition: filter 0.3s ease-in-out;

}

.icon-link:hover img {
	filter: grayscale(0%) brightness(100%);
	transform: scale(1.1);
}

h1 {
	font-family: 'monumentextended', sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: #ff225f;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
	text-align: center;
}

h2 {
	text-align: center;
	text-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
}

p {
	font-size: 20px;
	text-align: center;
	color: #f0f0f0;
	line-height: 1.6;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px;
	margin-bottom: 15px;

}

.secao-colunas {
	width: 100%;
	max-width: 1400px;
	margin: 60px auto;
	padding: 20px;
}

.secao-colunas h2 {
	font-family: 'monumentextended', sans-serif;
	font-size: 50px;
	color: #ffffff;
	text-align: center;
	margin-bottom: 10px;
}

.container-colunas {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 80px;
	justify-content: center;
	align-items: center;
}


.coluna {
	flex: 1;
	min-width: 280px;
	padding: 20px;
}

.coluna p {
	color: #cccccc;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
	background-color: transparent;
	padding: 0; /* Remove padding do p definido no CSS global se houver */
}

.gif img {
	width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
	object-fit: contain;

}

.coluna img {
	width: 500px;
	height: auto;
	display: block;
	margin: 0 auto;
	filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.8));
	object-fit: contain;

}

.imagem-flutuante-sutil {
	animation-name: flutuar-sutil;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes flutuar-sutil {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-3px); /* Sobe 3 pixels */
    }
    75% {
        transform: translateY(3px);  /* Desce 3 pixels */
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
	.container-flex {
        flex-direction: column;
        text-align: center;
	}

	.container-colunas {
	flex-direction: column;
	align-items: center;
	}

	.coluna {
	max-width: 90%;
	}
}